@model CoffeeStore.Models.Product
<style>
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        width: 300px;
        height: auto;
    }
</style>

<div class="card card-outline-primary m-1 p-1">
    <img src="~/@Model?.ImageURL" class="img card-img-top" alt="@Model?.Name">
    <div class="bg-faded p-1">
        <h4>
            @Model?.Name
            <span class="badge rounded-pill bg-primary text-white" style="float:right">
                <small>@Model?.Price.ToString("N0").Replace(",", ".")</small>
            </span>
        </h4>
    </div>

    <form id="form-@Model?.ProductID" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            <button type="button" class="btn btn-success btn-sm pull-right" style="float:right" onclick="checkLoginAndSubmit('@Model?.ProductID')">
                +
            </button>
        </span>
    </form>
</div>

@section Scripts {
    <script>
        function checkLoginAndSubmit(productId) {
            var isAuthenticated = '@User.Identity.IsAuthenticated.ToString().ToLower()' === 'true';
            console.log("IsAuthenticated:", isAuthenticated);

            if (isAuthenticated) {
                document.getElementById("form-" + productId).submit();
            } else {
                var returnUrl = encodeURIComponent(window.location.pathname + window.location.search);
                window.location.href = "/Login?returnUrl=" + returnUrl;
            }
        }
    </script>
}
